name: Publish NGWSP Docker image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish-ngwsp:
    name: Publish NGWSP
    uses: newtontechnologies/denv-github-actions/.github/workflows/publish_docker_image.yml@main
    with:
      dockerfile_path: Dockerfile
      image_name: ngwsp
    secrets:
      repository_checkout_token: ${{ secrets.repository_checkout_token }}
      container_registry_token: ${{ secrets.GITHUB_TOKEN }}
      package_registry_token: ${{ secrets.GITHUB_TOKEN }}
